* {
    box-sizing: border-box;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

p,h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins", sans-serif;
}

.navigation, .networks{
    list-style: none;
}

li{
    font-family: "Poppins", sans-serif;  
}

/* NAV BAR */

.navbar_container_container {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 200;
}

.navbar_logo_container {
    padding-left: 30px;
}

.navbar_title {
    color: rgb(117,170,219);
    padding-left: 10px;
    font-size: 25px;
}

.navbar_title_menu_container, .navbar_logo_container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.btn_menu {
    padding-right: 30px;
}

ul.navigation {
    display: none; 
}

.navbar_navigation_container.show {
    background-color: white; 
}

ul.navigation.show {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 200%;
}

ul.navigation li {
    padding: 20px 20px 0px 20px;
    font-size: 25px;
}

main {
    padding-top: 25%;
}

/* MAIN */

.main_container, .recipe_photo_container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    z-index: 50;
    padding-top: 100px;
    padding-bottom: 100px;
}

.background_image_container, .recipe_photo {
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    min-height: 500px;
}

.background_image, .photo {
    height: 100%;
    left: 0;
    position: absolute;
    object-fit: cover;
    top: 0;
    width: 100%;
    z-index: 0;
}

.searcher_container_container {
    padding: 0 10px;
    margin: 0 auto;
}

.searcher_container {
    background-color: white;
    position: relative;
    z-index: 1;
    padding: 0px 20px 30px 20px;
}

.title_searcher {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    font-size: 20px;
    z-index: 2;
    margin: 0px 15px 0 15px;
}

.title_title_searcher h2 {
    margin-bottom: 0;
}

.text_title_searcher p {
    margin-top: 0;
}

.search_bar {
    padding: 15px 50px 15px 50px;
    font-size: 20px;
    width: 100%; 
    border: 0.5px solid grey;
}

/* TOP RECIPES and CATEOGIRES */

.top_background, .recipe_container {
    background-color: white;
    position: relative;
    z-index: 3;
}

.top_recipes_container_container {
    margin-top: 10%;
}


.top_recipes_title_container, .top_categories_title_container {
    padding-top: 100px;
    padding-left: 15px;
    margin-right: 50px;
}

.top_recipes_title, .top_categories_title {
    font-size: 30px;
}

.recipes_container_scroll, .categories_container_scroll, .editors_container_scroll {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.title_recipe_container, .title_category_container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color:#fcbf45;
    font-size: 20px;
    padding: 16px;
}

.top_recipes_description, .top_categories_description {
    margin-bottom:50px;
}

.top_recipe, .top_category, .recipe, .us_container, .author {
    align-items: center;
    background-color: #fcbf45;
    margin: 15px;
    flex-direction: column; 
    font-weight: 100;  
}

.more_recipes, .more_caregories{
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    padding-top: 30px;
    width: 100%;
}

.more_caregories{
    padding-left: 45%;
    padding-bottom: 100px;
}

.more_recipes {
    padding-left: 53%;
}

.more_recipes img, .more_caregories img{
    padding-right: 15px;
}

.more_recipes_desktop {
    display: none;
}

/* RECIPES */

.recipe_container {
    background-color: rgb(255, 255, 255);
    z-index: 50;
    padding: 5%;
    box-shadow: 10px 10px 49px 108px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe_photo {
    padding-top: 15px;
}

.recipe_title, .aboutus_title {
    z-index: 1;
    color: white;
    position: relative;
    margin: 0px 20px 0px 20px;
}

.recipe_title h2, .aboutus_title h2 {
    font-size: 50px;
    margin-bottom: 0;
}

.ingredients_container {
    margin-top: 50px;
    margin-bottom: 60px;
}

ul{
    list-style: circle;
}

.question_answer_container, .question_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question_answer_container {
    margin-top: 80px;
    margin-bottom: 100px;
}

.question {
    font-size: 20px;
    font-weight: 600;
}

.btn_yes, .btn_no {
    border: none; 
    background-color: #fcbf45;
    padding: 14px 28px; 
    cursor: pointer;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

.btn_yes:hover, .btn_no:hover {
    background-color: #fdb21e;
}

.thanks {
    text-align: center;
    margin: 0px 50px 0px 50px;
}

.prometeo {
    color: blue;
}

/* FOOTER */

.footer {
    background-color: rgb(117,170,219);
    padding-top: 50px;
    padding-bottom: 100px;
    position: sticky;
    z-index: 100;
}

.footer_title_text {
    color: white;
}

.footer_title {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    align-items: center;
    margin: 0px 50px 0px 50px;
}

.legal p{
    margin: 0px 0px 0px 0px;
    font-size: 15px;
    text-align: center;
}

.contact_container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
}

.contact h4 {
    color: white;
    text-decoration: underline;
}

.networks {
    display: flex;
    flex-direction: row;
    padding-right: 40px;
}

.networks_description {
    font-size: 15px;
    text-align: center;
}

.network {
    padding: 10px;
    margin-top: 0px;
}

/* RECIPES PAGE */

.recipes_container, .aboutus_container {
    display: flex;
    background-color: rgb(255, 255, 255);
    z-index: 50;
    padding: 5%;
    box-shadow: 10px 10px 49px 108px rgba(0,0,0,0.75);
    flex-direction: column;
    align-items: center;
    position: relative;
}

.photo_recipe img{
    height: 100%;
    margin-bottom: 0;
    object-fit: cover;
}

.author_recipe {
    color: rgb(117,170,219);
    text-decoration: underline;
}

/* ABOUT US PAGE */

.aboutus_title {
    color: black;
}

.author {
    display: flex;
    width: 200px;
}

.about_retina {
    text-align: center;
}

.us_container_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.us_container {
    font-weight: 400;
    text-align: center;
    max-width: 400px;
}

.us_text p{
    margin: 0px 10px 20px 10px;
}

.author_title {
    text-align: center;
}

.author_container {
    background-color: white;
    position: relative;
    z-index: 50;
    margin-top: -20px;
    margin-bottom: 100px;
}

.author_name_container {
    align-items: center;
    display: flex;
    background-color:#fcbf45;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 5px 15px 5px;
    text-align: center;
}



/* ERROR PAGE */

.error_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.error_mensage_fr p, .error_mensage_sd p, .error_mensage_tr p{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.error_mensage_fr p {
    font-size: 25px;
    font-weight: 500;
}

.mensage_fr {
    margin-bottom: 0;
}

.mensage_sd {
    margin-top: 0;
}

.error_mensage_tr p {
    font-size: 25px;
    font-weight: 500;
    color: rgb(117,170,219);
    text-decoration: underline;
}

/* CONTACTO */

.container_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    background-color: yellowgreen;
    padding: 20px 30px;
    border-radius: 5px;
  }
  
  .form_title{
    text-align: center;
    font-size: 45px;
    font-weight: 600px;
    margin: 20px opx 30px;
    color:rgb(11, 127, 42);
  }
  
  .form_input{
    margin: 10px 0px;
  }
  
  label{
    display: block;
    font-size: 15px;
    color:green;
    margin-bottom: 5px;
  }
  
  .form_input input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(rgb(11, 127, 42));
    font-size: 15px;
  }
  
  .captcha_Txt_Area{
    color: black;
    width: 100%;
    text-align: center;
    height:40px;
    line-height: 40px;
    letter-spacing: 8px;
    border: 1px dashed black;
    font-family: "";
  }
  
  .captcha_form {
    display: flex;
  }
  
  .container_form .captcha .captcha_form input{
    width: 100%;
    padding: 8px;
    border: 1px solid black;
  }
  
  .container_form .captcha .captcha_form .captcha_refresh{
    width: 50px;
    border: none;
    outline: none;
    background-color: #888;
    color: #eee;
  }


    @media (min-width: 700px) {
        .recipes_container {
            display: grid;
            align-items: center;
            grid-template-columns: 330px 330px;
            justify-content: center;
        }
    }

    @media (min-width: 721px) {
        .editors_container_scroll {
            overflow: hidden;
            justify-content: center;
        }
        
    }

    @media (min-width: 775px) {
        main {
            padding-top: 15%;
        }

        .navbar_container_container {
            background-color: white;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .btn_menu {
            display: none;
        }

        .navbar_logo_container {
            padding-left: 100px;
        }
        
        .navbar_title {
            color: rgb(117,170,219);
            padding-left: 10px;
            font-size: 25px;
        }

        ul.navigation {
            display: flex;
            flex-direction: row;
            margin-right: 150px;
        }

        ul.navigation li {
            padding: 0px 20px 0px 20px;
            font-size: 20px;
        }

        .navbar_container_container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .background_image_container {
            margin-bottom: 100px;
        }

        .top_recipes_title_container, .top_categories_title_container, .recipe_container {
            padding-top: 0;
            padding-left: 100px;
            padding-right: 50px;
        }

        .recipe_container {
            padding-top: 20px;
            padding-right: 150px;
        }

        .top_recipes_title h2{
            margin-bottom: 0;
        }

        .recipes_container_scroll, .categories_container_scroll{
            margin-bottom: 100px;
        }

        .recipes_container_scroll, .categories_container_scroll, .more_recipes_desktop, .more_categories_desktop {
            display: flex;
            flex-direction: row;
        }

        .categories_container_scroll {
            justify-content: center;
            overflow: hidden;
        }

        .more_recipes, .more_caregories {
            display: none;
        }

        .more_recipes_desktop, .more_categories_desktop {
            font-size: 20px;
            text-decoration: underline;
        }

        .top_recipes_description, .top_categories_description {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .question_answer_container {
            flex-direction: row;
            align-items: center;
            position: relative;
            
        }

        .footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .footer_logo {
            margin: 0px 200px 0px 50px;
        }

        .footer_title_text {
            color: white;
            margin-bottom: 25px;
        }

        .footer_title_text h3 {
            margin: 0px 200px 0px 50px;
        }

        .legal {
            margin: 0px 200px 0px 50px;
        }

        .networks_description {
            padding: 0px 0px 0px 0px;
        }     

        .contact_container {
            margin-right: 150px;
        }
    }

    @media (min-width: 939px) {
        .us_container_container {
            display: grid;
            align-items: center;
            grid-template-columns: 500px 500px;
            justify-content: center;
            justify-items: center;
        }
    }

    @media (min-width: 978px) {
        .recipes_container_scroll, .editors_container_scroll {
            overflow: hidden;
            justify-content: center;
        }
        
    }

    @media (min-width: 1000px) {
        .recipes_container {
            display: grid;
            align-items: center;
            grid-template-columns: 330px 330px 330px;
            justify-content: center;
        }
    } 